<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Sinh viên</h5>
                        <p>Nền tảng trao đổi đề thi. Thông qua việc tự tạo đề, sinh viên có thể tự ôn thi với bộ tài liệu phù hợp đồng thời chia sẻ cho nhóm học tập.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Giảng viên</h5>
                        <p>Thao tác tạo đề đơn giản, chính xác cùng phương pháp đánh giá hiệu quả, giúp giảng viên dễ dàng quản lý bài giảng và chất lượng giảng dạy.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Trung tâm đào tạo</h5>
                        <p>Nền tảng hỗ trợ chi tiết về kỹ thuật giúp các doanh nghiệp nhanh chóng tổ chức và sắp xếp các nội dung đào tạo cho cán bộ công nhân viên.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Nền tảng ôn thi linh hoạt và dễ sử dụng</h6>
                <h1 class="mb-4">Tự động tạo câu hỏi và đề thi trắc nghiệm</h1>
                <p class="mb-4">Tạo đề nhanh với vài cú nhấp chuột. Bằng cách nhập file tài liệu định dạng WORD hoặc PDF, AI sẽ giúp bạn tạo đề chính xác 100% trong vài phút.</p>
                <p class="mb-4">Nền tảng cho phép tổ chức các kỳ thi, kiểm tra một cách an toàn, bảo mật và hiệu quả. Người làm bài thi có thể tham gia thi từ bất kỳ đâu có kết nối internet, không cần phải di chuyển đến địa điểm thi cụ thể.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tối ưu trải nghiệm</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tiết kiệm thời gian</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Có thêm thời gian nghiên cứu</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Đảm bảo tính khách quan</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Bắt đầu ngay</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Categories Start -->
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Ôn thi</h6>
            <h1 class="mb-5">Toàn bộ giải pháp từ VinhQuiz</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="~/img/course-1.jpg" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 50px 50px 50px 50px;">Vào ôn thi</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(123)</small>
                        </div>
                        <h5 class="mb-4">Toán cao cấp</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Phan Minh Sáng</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>12 lượt truy cập</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="~/img/course-2.jpg" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 50px 50px 50px 50px;">Vào ôn thi</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(123)</small>
                        </div>
                        <h5 class="mb-4">Cơ sở dữ liệu</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Phan Đức Nhật</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>5 Hrs</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>5 lượt truy cập</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="~/img/course-3.jpg" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 50px 50px 50px 50px;">Vào ôn thi</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(123)</small>
                        </div>
                        <h5 class="mb-4">Mạng máy tính</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>
                            Đức Nhật</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>15.5 Hrs</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>10 lượt truy cập</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Phản hồi</h6>
            <h1 class="mb-5">Người dùng</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="~/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Phan Đức Nhật</h5>
                <p>Sinh viên Trường đại học Vinh</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Giao diện của Vinhquiz rất thân thiện và dễ sử dụng. Mọi thứ được sắp xếp hợp lý và dễ tìm kiếm.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="~/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Lê Đức Nhật</h5>
                <p>Sinh viên Trường đại học Vinh</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Các bài thi thử rất đa dạng và bám sát với cấu trúc đề thi thực tế, giúp tôi ôn tập hiệu quả.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="~/img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Phan Minh Sáng</h5>
                <p>Sinh viên Trường đại học kinh tế quốc dân</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Vinhquiz chấm điểm ngay sau khi làm xong bài, giúp tôi biết ngay kết quả và những điểm cần cải thiện.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="~/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Thân Tuấn</h5>
                <p>Sinh viên Trường đại học Duy Tân</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Đề thi được cập nhật thường xuyên, giúp tôi luôn theo kịp với các thay đổi mới nhất của kỳ thi.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
